{% extends 'base-app.html'%}
{% block content %}
<div>

<!-- <form method=POST action=".">
    {% csrf_token %} -->
    <p> Are you sure you want to delete your account?</p>
    <div>
      <form action="{% url 'account:confirm_delete' %}" style="padding-top: 1rem; display: inline-block">
        <button type="submit" style="outline: none; background-color: #ee0000">Yes</button>
      </form>

      <form action="{% url 'account:account_details' %}" style="padding-top: 1rem; display: inline-block">
        <button type="submit" style="outline: none;">No</button>
      </form>

    </div>
<!-- </form> -->
</div>
{% endblock %}
