{% extends 'base-app.html'%}
{% block content %}
<div>
    {% if user.first_name %}
    <h1 style="font-weight: 600">{{user.first_name}} </h1>
    {% else %}
        <h1 style="font-weight: 600">Name Unknown </h1>
    {% endif %}
    <div class="row">
          <div class="col-md-12 col-lg-6">
          {% if user.profile.is_idle %}
            <p>(@{{user.username}}) (Idle)</p>
          {% else %}
            <p>(@{{user.username}}) (Active)</p>
          {% endif %}
          </div>

          <div class="col-md-12 col-lg-6">

    {% if user.profile.email_confirmed %}
          <p><i class="material-icons">check_box</i> Email is Confirmed</p>

    {% else %}
        <p><i class="material-icons"> check_box_outline_blank</i> Email not Confirmed</p>
    {% endif %}
          </div>
    </div>
      <div class="recommended-match-info">
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <h6><strong>Year</strong></h6>
            <p>{{user.profile.year_in_school}}</p>
          </div>
          <div class="col-md-12 col-lg-6">
            <h6><strong>Major</strong></h6>
            <p> {{user.profile.major}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <h6><strong>Desired Role</strong></h6>
            <p>{{user.profile.role}}</p>
          </div>
          <div class="col-md-12 col-lg-6">
            <h6><strong>Industry</strong></h6>
            <p>{{user.profile.industry_choice_1}} &  {{user.profile.industry_choice_2}}</p>
          </div>
        </div>
          {% if user.profile.summary %}
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <h6><strong>Description</strong></h6>
                    <p>{{user.profile.summary}}</p>
              </div>
          </div>
          {% endif %}


        <form action="#" style="padding-top: 1rem; padding-bottom: 1rem">
        <button type="submit" style="background-color: #FFC933; color: #3f3f3f; outline: none">Send a match request!</button>
      </form>
</div>
{% endblock %}
