{% extends 'base-app.html'%}
{% block content %}
<div>
    <div class = "row">
        <div class ="col-md-6 col-lg-6">
            {% if user.first_name %}
            <h1 style="font-weight: 600">{{user.first_name}} </h1>
            {% else %}
                <h1 style="font-weight: 600">Name Unknown </h1>
            {% endif %}
        </div>
        <div class="col-md-2 col-lg-2">
            <center>
                <!-- rating system logic -->
                {% if user.statistics.tot_interview >= 25 and user.statistics.overall_rating >= 4 %}
                <p style="border-radius:5px; background-color:green;"><font color="white"> expert flyer</font></p>
                {% elif user.statistics.tot_interview >= 10 and user.statistics.overall_rating >= 4 %}
                <p style="border-radius:5px; background-color: blue;"<font color="white"> flyer-in-training</font> </p>
                {% elif user.statistics.tot_interview >= 5 and user.statistics.overall_rating >= 4 %}
                <p style="border-radius:5px; background-color: orange;"> <font color="white">fledgling</font></p>
                {% else %}
                <p style="border-radius:5px; background-color: red;"><font color="white"> baby bird</font></p>
                {% endif %}
                </center>
            </div>
    </div>
    <div class="row">
          <div class="col-md-12 col-lg-6">
          {% if user.profile.is_idle %}
            <p>(@{{user.username}}) (Idle)</p>
          {% else %}
            <p>(@{{user.username}}) (Active)</p>
          {% endif %}
          </div>

          <div class="col-md-12 col-lg-6">

            {% if user.profile.email_confirmed %}
                  <p><i class="material-icons">check_box</i> Email is Confirmed</p>

            {% else %}
                <p><i class="material-icons"> check_box_outline_blank</i> Email not Confirmed</p>
            {% endif %}
          </div>

    </div>
      <div class="recommended-match-info">
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <h6><strong>Year</strong></h6>
            <p>{{user.profile.year_in_school}}</p>
          </div>
          <div class="col-md-12 col-lg-6">
            <h6><strong>Major</strong></h6>
            <p> {{user.profile.major}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <h6><strong>Desired Role</strong></h6>
            <p>{{user.profile.role}}</p>
          </div>
          <div class="col-md-12 col-lg-6">
            <h6><strong>Industry</strong></h6>
            <p>{{user.profile.industry_choice_1}} &  {{user.profile.industry_choice_2}}</p>
          </div>
        </div>
          {% if user.profile.summary %}
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <h6><strong>Description</strong></h6>
                    <p>{{user.profile.summary}}</p>
              </div>
          </div>
          {% endif %}

        {% if is_matched and has_sent %}
          <form style="padding-top: 1rem; padding-bottom: 1rem">
            {% csrf_token %}
        <button type="submit" style="background-color: #FFC933; color: #3f3f3f; outline: none">You are already matched with this user!</button>
      </form>
          {% elif is_matched %}
          <form style="padding-top: 1rem; padding-bottom: 1rem">
            {% csrf_token %}
        <button type="submit" style="background-color: #FFC933; color: #3f3f3f; outline: none">You already have a match!</button>
      </form>
          {% elif has_sent %}
          <form style="padding-top: 1rem; padding-bottom: 1rem">
            {% csrf_token %}
        <button type="submit" style="background-color: #FFC933; color: #3f3f3f; outline: none">You've sent a request!</button>
      </form>
          {% else %}
        <form action="#" style="padding-top: 1rem; padding-bottom: 1rem">
            {% csrf_token %}
        <button type="submit" style="background-color: #FFC933; color: #3f3f3f; outline: none" name="send_request">Send a match request!</button>
      </form>
          {% endif %}
</div>
{% endblock %}