{% extends 'base-app.html'%}
{% block content %}
<div>
    <h1> Profile </h1>

    {{user.first_name}} (@{{user.username}})
    <br>
     Email: {{user.email}}
    <br>
    Year: {{user.profile.year_in_school}}
    <br>
    Major: {{user.profile.major}}
    <br>
    Industry: {{user.profile.industry}}
    <br>
    Desired Role:
    {{user.profile.role}}
    <br>

    <a href="{% url 'account:edit' %}"> Edit Info </a>
    <br>
    <a href="{% url 'account:change_password' %}"> Change Password</a>
    <br>
    <a href="{% url 'account:delete' %}"> Delete Account </a>
    <br>
    <a href="{% url 'home'%}"> Home </a>
</div>
{% endblock %}
