{% extends 'base-app.html' %}

{% block content %}
<div>
    <h1>Statistics</h1>
    <h1> Profile </h1>

    {{user.first_name}} (@{{user.username}})
    <br>
    <p> You're doing great!</p>

    <h3> Completed Interviews</h3>
    <p> {{ request.user.statistics.tot_interview }} </p>

    <h3> On-Time Rate </h3>
    <p> {{ request.user.statistics.late }} 
        {% if request.user.statistics.late >= 0.5 %}
            <b>* needs improvement </b>
        {% endif %}
    </p>
</div>

{% endblock %}
