{% extends 'base.html' %}

{% block content %}
<div class="col-xs-12 col-md-5 right-side">
{% if msgs|length != 0 %}
    <h3>Your mock interview match is ready!</h3>
    <p><b>User:</b> {{ username }}</p>
    <p><b>Email:</b> {{ email }}</p>
    <p><b>Industry:</b> {{ industry }}</p>
    <form action='../'>
        <input type='submit' value="Accept">
    </form>
    <form action='/match/' method='POST'>{% csrf_token %}
        <input type='submit' value="Match Me Again">
    </form>
{% else %}
    <h4>Aww... it's an empty nest</h4>
    <p><a href='../match'>Try Another Match</a></p>
{% endif %}
<a href="{% url 'home'%}"> Home </a>
</div>
{% endblock %}
