{% extends 'base-app.html' %}

{% block content %}

{% if matchedUsers|length > 0 %}
    {% if matchedUsers|length == 1 %}
    <h3>Your mock interview match is ready!</h3>
    {% else %}
    <h3>Your mock interview matches are ready!</h3>
    {% endif %}
    {% for matchedUser in matchedUsers %}
    <form action='/matchresults/' method="POST"> <!-- this is where it redirects -->
        <input type="hidden" id="username" name="username" value={{matchedUser.username}}>
        <p><b>User:</b> {{matchedUser.username}}</p>
        <p><b>Email:</b> {{matchedUser.email}}</p>
        <p><b>Industry:</b> {{matchedUser.industry}}</p>
        {% csrf_token %}
        <button type='submit' style="height:50px;width:200px">Accept</button>
    </form><br>
    {% endfor %}
    {% if not configured %}
        <form action='/match/' method='POST'>{% csrf_token %}
            <button type='submit' style="height:50px;width:200px">Match Me Again!</button>
        </form><br>
    {% endif %}
{% else %}
    <h4>Aww... it's an empty nest</h4>
    <p><a href='../match'>Try Another Match</a></p>
{% endif %}
<p><a href="{% url 'home'%}"> Home </a> </p>
{% if configured %}
    <p><a href="{% url 'matchlist' %}"> Back </a> </p>
{% endif %}
</div>
{% endblock %}
