{% extends 'base-app.html' %}

{% block content %}

{% if matchedUsers|length > 0 %}
    {% if matchedUsers|length == 1 %}
    <h3>Your mock interview match is ready!</h3>
    {% else %}
    <h3>Your mock interview matches are ready!</h3>
    {% endif %}
    {% for matchedUser in matchedUsers %}
    <form action='/matchresults/' method="POST"> <!-- this is where it redirects -->
        <input type="hidden" id="username" name="username" value={{matchedUser.username}}>
        <p><b>User:</b> {{matchedUser.username}}</p>
        <p><b>Industry:</b> {{matchedUser.industry}}</p>
        <p><b>Desired Role:</b> {{matchedUser.role}}</p>
        <p><b>Year In School:</b> {{matchedUser.year}}</p>
        {% csrf_token %}
        <button type='submit'>Send Request</button>
    </form>
    <b><hr></b>
    {% endfor %}
    {% if not configured %}
        <form action='/match/' method='POST'>{% csrf_token %}
            <button type='submit'>Match Me Again!</button>
        </form><br>
    {% endif %}
  <p><a href="{% url 'home'%}"> Home </a> </p>
{% else %}
    {% include 'matching/empty-nest.html' %}
{% endif %}

</div>
{% endblock %}
