{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if not user.profile.onboard_confirmed %}
    <p><a href='../tags'>Complete Profile</a></p>
    {% endif%}
    <h3>Welcome, {{user.username}}!</h3>
    <form action='.' method='POST'>{% csrf_token %}
        <input type='submit' value="Get Me Matched!"> 
    </form>
    <p><a href="{% url 'logout' %}"> logout </a></p>
{% else %}
 <p> You are not logged in</p>
 <a href="{% url 'login' %}"> login</a>
 <a href="{% url 'signup' %}"> sign up</a>
{% endif %}
{% endblock %}
