{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static %}
{% if user.is_authenticated %}
    Hi {{user.username}}!
    <p><a href="{% url 'logout' %}"> logout </a></p>
{% else %}
<body>
    <div class="col-xs-12 col-md-5 right-side">
            <div class="col-xs-12 col-md-12 login-title-wrapper">
              <h1>Login</h1>
              <h6>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></h6>
            </div>
  
            <div class="col-xs-12 col-md-12 signup-title-wrapper">
              <h1>Sign up</h1>
            </div>
  
            <div class="col-xs-12 col-md-12 password-title-wrapper">
              <h1>Recover Password</h1>
              <h6>Enter your email and we'll send you instructions to recover your password.</h6>
            </div>
  
            <div class="col-xs-12 col-md-10 login-form-wrapper">
              <form class="login-form" action="index.html" method="post">
                Username:<br>
                <input type="text" name="username"><br>
                Password:<br>
                <input type="password" name="password">
                <button type="submit" id='login-button'>Log In</button>
              </form>
              <p><a href="#" onclick="switchToRecovery()">Forgot your password?</a><p>
            </div>
            <div class="col-xs-12 col-md-10 signup-form-wrapper">
                {% include 'signup.html' %}
              <p><a href="#" onclick="switchToLogin()">Back to Login</a></p>
            </div>
  
            <div class="col-xs-12 col-md-10 password-recovery-wrapper">
              <form class="password-form" action="index.html" method="post">
                Email Address:<br>
                <input type="text" name="email"><br>
                <button type="button" id='submit-email' onclick="displayPasswordConfirmation()" >Send</button>
              </form>
              <p><a href="#" onclick="switchToLogin()">Back to Login</a></p>
            </div>
  
            <div class="col-xs-12 col-md-10 password-recovery-confirmation">
              <p>Your password recovery instructions were sent to your email.</p>
            </div>
  
    </div>
<script src="{% static 'js/landing-script.js' %}"></script>
</body>
{% endif %}
{% endblock %}