{% extends 'base-app.html' %}
 {% block content %}
  <body>
    <div class="">
        <!-- <h2>Hi, {{user.username}}!</h2> -->
        <h3>{{user.first_name}}, which industry(s) are you currently interviewing for or are interested in?</h3>
        <p style="color: red">{{error_message}}</p> <!-- rgb(243, 241, 241)-->
        <br>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
              {{ field.label_tag }}<br>
              {{ field }} <br><br>
              {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
          {% endfor %}
          <br>
          <button type="submit">Let's Go!</button>
        </form>
    </div>
  </body>
 {% endblock %}

  <script src=""></script>

</html>
