{% load static %}
<div>
  {% if user.profile.is_matched %}
  <div class="modal-backdrop">
  <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 survey-card" role="document">
    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
    <button type="button" class="close">
          <i class="material-icons">close</i>
    </button>
    <h3 style="font-weight: 600">{{user.first_name}}, how was your mock interview experience?</h3>
    <p>Tell us about your experience in our quick feedback survey so we can provide great interview experiences for everyone.</p>
    <form action="{% url 'survey:survey' %}">
      {% csrf_token %}

      <button type="submit" style="outline: none">Complete survey</button>
    </form>
  </div>
  </div>
  {% endif %}
  <h1 class="title" style="padding-top: 1rem; position: relative;">Hi, {{user.first_name}}!</h1>


  <div class="module-wrapper-left">

    <!-- LEFT SIDE -->
    <div class="module-blue-title">
      {% if user.profile.is_matched %}
      <h3 style="color: white; font-weight: 600">Your current match:</h3>

      {% elif user.profile.is_sender %}
      <h3 style="color: white; font-weight: 600">You sent a match request to: {{ user.profile.match_name }} </h3>

      {% elif user.profile.is_idle %}
      <h3 style="color: white; font-weight: 600">Your status is "idle" so this is hidden.</h3>
      {% else %}
      <h3 style="color: white; font-weight: 600">Your recommended match</h3>
      <p style="color: white">Based on <a href="{% url 'account:account_details' %}" style="color: #FFC933">your profile</a> and <a href="{% url 'matchconfig' %}" style="color: #FFC933">your configurations</a></p>

      {% endif %}
    </div>

    <div class="module-blue">

      {% if user.profile.is_matched %}
      <h1 style="font-weight: 600">{{match.first_name}}</h1>
      <p ><a style="color:#Ffd357" href="{% url 'account:profile_view' request.user.profile.match_name %}">@{{match.username}}</a></p>
      <div class="recommended-match-info">
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <h6><strong>Year</strong></h6>
            <p>{{match.profile.year_in_school}}</p>
          </div>
          <div class="col-md-12 col-lg-6">
            <h6><strong>Major</strong></h6>
            <p>{{match.profile.major}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <h6><strong>Desired Role</strong></h6>
            <p>{{match.profile.role}}</p>
          </div>
          <div class="col-md-12 col-lg-6">
            <h6><strong>Primary Industry</strong></h6>
            <p>{{match.profile.industry_choice_1}}</p>
          </div>
        </div>
      </div>
      <p>Enjoy your mock interview! Please take the following survey once you're done. You can also now chat with your match.</p>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <form action="{% url 'survey:survey' %}" style="padding-top: 1rem; padding-bottom: 1rem;">
            {% csrf_token %}
            <button type="submit" style="background-color: #FFC933; color: #3f3f3f; outline: none">Take the survey</button>
          </form>
        </div>
        <div class="col-md-12 col-lg-6">
          <form method="POST" action="{% url 'open-chat' %}" style="padding-top: 1rem; padding-bottom: 1rem">
            {% csrf_token %}
            <button type="submit" style="background-color: #FFC933; color: #3f3f3f; outline: none">Chat With Match</button>
            <input type="hidden" id="username" name="username" value="{{ user.profile.match_name }}">
          </form>
        </div>
      </div>

      {% elif user.profile.is_sender %}
      <h1 style="font-weight: 600">{{match.first_name}}</h1>
      <p><a href="{% url 'account:profile_view' match.username %}" style="color: #FFC933">@{{ match.username }}</a></p>
      <div class="recommended-match-info">
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <h6><strong>Year</strong></h6>
            <p>{{match.profile.year_in_school}}</p>
          </div>
          <div class="col-md-12 col-lg-6">
            <h6><strong>Major</strong></h6>
            <p>{{match.profile.major}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <h6><strong>Desired Role</strong></h6>
            <p>{{match.profile.role}}</p>
          </div>
          <div class="col-md-12 col-lg-6">
            <h6><strong>Primary Industry</strong></h6>
            <p>{{match.profile.industry_choice_1}}</p>
          </div>
        </div>
      </div>
      <p>You will receive a notification once this person responds to your request.</p>
      <form action="{% url 'confirm_cancel_request' %}" style='padding: 5px 10px 10px 10px;outline: none;'>
                <button type="submit" style="background-color: #FFC933; color: #3f3f3f; outline: none;" >Cancel Request</button>
      </form>
      {% else %}
        {% if not user.profile.is_idle %}
          {% if recommended == None %}
            <p>There currently doesn't seem to be any users similar to you so we don't have a recommended match for you!</p>
          {% else %}
          <h1 style="font-weight: 600">{{recommended.first_name}}</h1>
          <p><a href="{% url 'account:profile_view' recommended.username %}" style="color: #FFC933">@{{ recommended.username }}</a></p>
          <div class="recommended-match-info">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <h6><strong>Year</strong></h6>
                <p>{{recommended.profile.year_in_school}}</p>
              </div>
              <div class="col-md-12 col-lg-6">
                <h6><strong>Major</strong></h6>
                <p>{{recommended.profile.major}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <h6><strong>Desired Role</strong></h6>
                <p>{{recommended.profile.role}}</p>
              </div>
              <div class="col-md-12 col-lg-6">
                <h6><strong>Industry(s)</strong></h6>
                {% if recommended.profile.industry_choice_2 != "None" %}
                <p>{{ recommended.profile.industry_choice_1 }}, {{ recommended.profile.industry_choice_2 }}</p>
                {% else %}
                <p>{{ recommended.profile.industry_choice_1 }}</p>
                {% endif %}
              </div>
              <br>
              <form method='POST' action='/matchresults/' style='padding: 5px 10px 10px 10px;outline: none;'>
                {% csrf_token %}
                <input type="hidden" id="username" name="username" value={{recommended.username}}>
                <input type="hidden" id="origin" value="home">
                <button type="submit" style="background-color: #FFC933; color: #3f3f3f; outline: none"  name="send_request">Send Request</button>
              </form>
            </div>
          </div>
          {% endif %}
        {% endif %}

      {% endif %}
    </div>

    <div class="module last-left">
      <h3 style="font-weight: 600; padding-bottom: 1rem">Upcoming mock interviews</h3>
      {% if user.profile.is_matched %}
      <div class="">
        <h5><strong>Name:</strong> {{match.first_name }}( <a href="{% url 'account:profile_view' request.user.profile.match_name %}">@{{match.username}}</a>)</h5>
        {% if match.profile.industry_choice_2 != "None" %}
        <span><strong>Industry Choices:</strong> {{ match.profile.industry_choice_1 }}, {{ match.profile.industry_choice_2 }}</span>
        {% else %}
        <span><strong>Industry Choices:</strong> {{ match.profile.industry_choice_1 }}</span>
        {% endif %}
        <br>
        <span><strong>Contact:</strong> {{match.email}}<span>
        <br>
        <a href="#">View Profile</a>
      </div>
      {% else %}
      <p>You have no upcoming mock interviews.</p>
      {% endif %}
    </div>

    <!-- END LEFT SIDE -->
  </div>

  <div class="module-wrapper-right">
    <!-- RIGHT SIDE -->
    <div class="module adventurous">
    {% if user.profile.is_idle %}
    <h3 style="font-weight: 600">Your status is "idle" so this is hidden.</h3>
    {% else %}
        <h3 style="font-weight: 600; padding-bottom: 1rem">I'm feeling adventurous</h3>
        {% if user.profile.is_matched %}
        <div class="">
          <p>You've already been matched. That's enough adventure for now!</p>
        </div>

        {% elif user.profile.is_sender %}
        <div class="">
          <p>You've already sent a match request, and you can only send one match request at a time. That's enough adventure for now!</p>
        </div>

        {% else %}
        <div class="">
          <p>Click below to be matched with a random user in a similar industry!</p>
          <form action="{% url 'match' %}">
            {% csrf_token %}

            <button type="submit" style="outline: none">Match me</button>
          </form>
        </div>
        {% endif %}
    {% endif %}
    </div>

    <div class="module">
      {% if user.profile.is_idle %}
        <h3 style="font-weight: 600">Your status is "idle" so this is hidden.</h3>
      {% else %}
      <h3 style="font-weight: 600">Discover similar users</h3>
        {% if user.profile.is_sender %}
          <p>You've already sent a match request and you can only send one at a time so this is unavailable at this time.</p>
        {% elif user.profile.is_matched %}
          <p>You've already been matched so this is unavailable at this time.</p>
        {% else %}
          <p>Based on <a href="{% url 'account:account_details' %}">your profile</a> and <a href="{% url 'matchconfig' %}">your configurations</a></p>
          <!-- pull first couple matches from list view and display here -->
          {% if discover_users|length == 0 and recommended == None %}
            <p>There currently doesn't seem to be any users similar to you. Adjust your match configurations or check back later to find more matches!</p>
          {% elif discover_users|length == 0 %}
            <p>You have one similar user and that is your recommended match! Adjust your match configurations or check back later to find more matches!</p>
          {% else %}
            {% for users in discover_users %}
            <a href="#" class="profile-card-link">
              <div class="profile-card">
                <h5><strong>Name:</strong> {{users.first_name}} <a href="{% url 'account:profile_view' users.username %}">(@{{ users.username }})</a></h5>
                <span><strong>Email:</strong> {{ users.email }} </span><br>
                {% if users.profile.industry_choice_2 != "None" %}
                <span><strong>Industry Choices:</strong> {{ users.profile.industry_choice_1 }}, {{ users.profile.industry_choice_2 }}</span>
                {% else %}
                <span><strong>Industry Choices:</strong> {{ users.profile.industry_choice_1 }}</span>
                {% endif %}
              </div>
            </a>
            {% endfor %}
            <form method="POST" action="{% url 'matchlist' %}">
              {% csrf_token %}
              <button type="submit" style="outline: none">See All</button>
            </form>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>



    <!-- END RIGHT SIDE -->

  </div>
</div>

<!--

<div class="">

  <a href="{% url 'account:account_details' %}"> Account Details </a>

  {% if user.profile.is_matched %}
    <p>Get Me Matched!****</p>
    <p><a href="{% url 'survey:survey' %}">Finish Survey </a></p>

    <p> **** this feature is disabled until you complete all surveys</p>
    <p><a href='chat/{{user.profile.match_name}}/'>Chat Room</a></p>
  {% elif user.profile.has_request %}
    <p><a href="{% url 'request_info' %}">Pending Match Request</a> </p>
  {% elif user.profile.is_waiting %}
    <p><a href="{% url 'request_info' %}">Current Match Request</a> </p>
  {% else %}
    <p><a href="{% url 'match' %}"> Get Me Matched!</a></p>
    <p><a href="{% url 'matchconfig' %}"> Find Matches!</a></p>
  {% endif %}
  <p> <a href="{% url 'feedback:feedback' %}">Leave Feedback</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
</div>
-->
