{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static %}

<body>
  <div class="col-xs-12 col-md-5 .offset-md-7 h-100 right-side">
    {% if user.is_authenticated %}

    <div class="col-xs-12 col-md-12 login-title-wrapper">
      <h1>Hi, {{user.first_name}}!</h1>
    </div>

    <div class="col-xs-12 col-md-10">
      {% if not user.profile.onboard_confirmed %}
      <p><a href='../tags'>Complete Profile</a></p>
      {% else %}
      <a href="{% url 'account:account_details' %}"> Account Details </a>
      <!-- <form action="." method='POST'>{% csrf_token %}
        <input type='submit' value="Get Me Matched!">
      </form> -->
        {% if user.profile.status == "free" %}
          <p><a href='match'>Get Me Matched!</a></p>
        {% else %}
          <p> Finish Survey </p>
        {% endif %}
      {% endif%}
      <p><a href="{% url 'logout' %}">Log Out</a></p>
    </div>


    {% else %}

    <div class="col-xs-12 col-md-12 login-title-wrapper">
      <h1>Login</h1>
      <h6>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></h6>
    </div>
    <div class="col-xs-12 col-md-10 login-form">
      <p style="color:rgb(227, 16, 16)">{{error_message}}</p>
      <form method='POST'>
        {% csrf_token %}
        {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">Log In</button>
      </form>
    </div>
    <div class="col-xs-12 col-md-10">
      <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    </div>
  </div>
  <script src="{% static 'js/landing-script.js' %}"></script>
</body>
{% endif %}
{% endblock %}
