<!-- chat/templates/chat/room.html -->
{% extends 'base-app.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<head>
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->


<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"><link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/chat.css' %}" />
</head>

<div class="">
    <h2 class="text-center" style="font-weight: 600; padding-bottom: 1rem; font-size: 28px;"><b>Chat with {% if user != object.first %}{{ object.first.username }}{% else %}{{ object.second.username }}{% endif %}</b></h2>
    <!-- <div id="sidepanel"></div> -->

        <!-- <h3 class="contact-profile"><b>@{% if user != object.first %}{{ object.first.username }}{% else %}{{ object.second.username }}{% endif %}</b></h3> -->
    <!-- <h3 class="contact-profile"><b>@{% if user != object.first %}{{ object.first.username }}{% else %}{{ object.second.username }}{% endif %}</b></h3> -->
    <div class="messaging">
        <div class="inbox_msg">
            <div class="mesgs">
                <ul id='chat-items'>
                    {% for chat in object.chatmessage_set.all %}
                        {% if chat.user == user %}
                        <li>
                            <div class="outgoing_msg">
                                <div class="sent_msg">

                                        <p>{{ chat.message }}</p>
                                        <span class="time_date">{{ chat.timestamp }} ET</span>

                                </div>
                            </div>
                        </li>
                        {% else %}
                        <li>
                            <div class="incoming_msg">
                                <!-- <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div> -->
                                <div class="received_msg">
                                    <div class="received_withd_msg">

                                            <p>{{ chat.message }}</p>
                                            <span class="time_date"> {{ chat.timestamp }} ET</span>

                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                    <br>
                </ul>
                <div class="type_msg" style="padding: 0">
                    <div class="input_msg_write">
                        <!-- <div class='form-group row'> -->
                            <form id='form' method='POST' style="width:100%;height:100%;padding:10px 0px 0px 15px;"> {% csrf_token %}
                                <input type='hidden' id='this_user' value='{{ user.username }}'/>
                                <div class='form-group row'>
                                    {% render_field form.message %}
                                    <div style="padding-left: 5px;">
                                        <button id='chat-send-button' type='submit'><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </form>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- May not work for future versions of Google Chrome -->
<script src=https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js></script>
<script>
    var months = ['Jan.', 'Feb.', 'Mar.', 'Apr.', 'May.', 'Jun.', 'Jul.', 'Aug.', 'Sep.', 'Oct.', 'Nov.', 'Dec.']
    var loc = window.location;
    var formData = $("#form");
    var msgInput = $("#id_message");
    var chatHolderSend = $("#chat-send");
    var chatHolderReceive = $("#chat-receive");
    // var chatHolder = $("#chat-items").val();
    var this_user = $("#this_user").val();
    var chatButton = $("#chat-send-button");
    // Websocket creation
    var wsStart = 'ws://';
    // For production purposes in a secure server
    if (loc.protocol == 'https:') {
        wsStart = 'wss://';
    }
    var endpoint = wsStart + loc.host + loc.pathname;
    // Creates a websocket that points to the given url
    var chatSocket = new ReconnectingWebSocket(endpoint);

    // Action performed when the socket opens
    chatSocket.onopen = function(e) {
        console.log('Chat socket opened', e);
        formData.submit(function(event) {
            event.preventDefault(); // Prevents default submission is socket not opened
            var msgText = msgInput.val();
            if (msgText != '') {
                // this user sends a message
                msg = {
                    "message": msgText
                }
                chatSocket.send(JSON.stringify(msg));
                formData[0].reset();
            }
        })
    }

    // Message that is received
    chatSocket.onmessage = function(e) {
        var chatMsg = JSON.parse(e.data);
        var firstDiv = document.createElement('div');
        var secondDiv = document.createElement('div');
        var msgListTag = document.createElement('li');
        var pTag = document.createElement('p');
        var timestampSpan = document.createElement('span');

        timestampSpan.className = 'time_date';
        timestampSpan.textContent = timedate();
        pTag.textContent = chatMsg.message;

        if (this_user === chatMsg.username) {
            firstDiv.className = 'outgoing_msg';
            secondDiv.className = 'sent_msg';
            msgListTag.appendChild(pTag);
            msgListTag.appendChild(timestampSpan);
            secondDiv.appendChild(msgListTag);
            firstDiv.appendChild(secondDiv);

        }
        else {
            firstDiv.className = 'incoming_msg';
            secondDiv.className = 'received_msg';
            thirdDiv = document.createElement('div');
            thirdDiv.className = 'received_withd_msg';
            msgListTag.appendChild(pTag);
            msgListTag.appendChild(timestampSpan);
            thirdDiv.appendChild(msgListTag);
            secondDiv.appendChild(thirdDiv)
            firstDiv.appendChild(secondDiv);
        }
        document.querySelector("#chat-items").appendChild(firstDiv);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    function timedate() {
        var date_obj = changeTimezone(new Date(), "America/New_York")
        var time = date_obj.toTimeString().split(':')
        if (time[0] > 12) {
            time = (parseInt(time[0], 10) - 12) + ':' + time[1] + ' p.m.'
        }
        else if (time[0] < 12) {
            if (time[0] == 0) {
                time = 12 + ':' + time[1] + ' a.m.'
            }
            else {
                time = time[0] + ':' + time[1] + ' a.m.'
            }
        }
        else {
            time = time[0] + ':' + time[1] + ' p.m.'
        }
        var time_date = months[date_obj.getMonth()] + ' ' + date_obj.getDate() + ', ' + date_obj.getFullYear() + ', ' + time + ' ET'
        return time_date
    }

    // Sets the timezone to whatever is prescribed by ianatz
    function changeTimezone(date, ianatz) {
        var invdate = new Date(date.toLocaleString('en-US', {
        timeZone: ianatz
        }));

        var diff = Math.abs(date.getTime() - invdate.getTime());

        return new Date(date.getTime() + diff);

    }
</script>


{% endblock %}
