{% extends 'base.html' %}

{% block content %}
{% load static %}
<body>
  <div class="col-xs-12 col-md-5 right-side">
    <div class="col-xs-12 col-md-12 login-title-wrapper">
      <h1> Forgot password?</h1>
    </div>
    <div class="col-xs-12 col-md-10 login-form">
      <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
      </form>
      <button type="button" type="submit">Send</button>
    </div>
    <div class="col-xs-12 col-md-10">
      <p><a href="{% url 'login' %}">Back to Login</a></p>
    </div>
</div>
<script src="{% static 'js/landing-script.js' %}"></script>
</body>
{% endblock %}