{% extends 'base-app.html' %}
{% load widget_tweaks %}

{% block content %}
<div>
    <h2 class="title">Tell Us About Your Experience With <b> {{ username }} </b></h2>
    <br>
    <form method="post">
        {% csrf_token %}
       <!-- did you meet question-->
        
        <div class="form-group row">
            <label> {{form.did_meet.label_tag }} </label>
        </div>
        <div class="form-group row">
            <div>
                {% render_field form.did_meet class="form-control" %}
                {% for error in form.did_meet.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <!-- if did meet-->
        <div id="form-div-meet">
            <div class="form-group row">
                <label>{{ form.on_time.label_tag }}</label>
            </div>
            <div class="form-group row">
                <div>
                    {% render_field form.on_time class="form-control" %}
                    {% for error in form.on_time.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group row">
                <label>{{ form.friendly.label_tag }}</label>
            </div>
            <div class="form-group row">
                <div>
                    {% render_field form.friendly class="form-control" %}
                    {% for error in form.friendly.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group row">
                <label>{{ form.comment.label_tag }}</label>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    {% render_field form.comment class="form-control" %}
                </div>
            </div>
        
        </div>
        <!-- if didn't -->
        <div id="form-div-no-meet">
            <div class="form-group row">
                <label>{{ form.comment.label_tag }}</label>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    {% render_field form.comment class="form-control" %}
                </div>
            </div>
        </div> 
 <button type="submit">Submit</button>
    </form>
    <br>
</div>

<script type="text/javascript">
    $('#form-div-meet', '#form-div-no-meet').hide();
    var selected = $('#id_meet option:selected').text();
   
	$('#id_did_meet').change(function () {
		var selected = $('#id_did_meet option:selected').text();
	    $('#form-div-meet').toggle(selected == "Yes, we did try to meet");
        $('#form-div-no-meet').toggle(selected == "No, we did not try to meet");

	}).ready(function () {
		var selected = $('#id_meet option:selected').text();
	    $('#form-div-meet').toggle(selected == "Yes, we did try to meet");
        $('#form-div-no-meet').toggle(selected == "No, we were not able to meet");

	});

</script>

{% endblock %}